.project-btn{
    display:inline-block;
    margin-top:10px;
    margin-right:10px;
    padding:8px 15px;
    background:#4CAF50;
    color:white;
    text-decoration:none;
    border-radius:4px;
}

.project-btn:hover{
    background:#388e3c;
}

/* AI button style */

.ai-btn{
    background:#2196F3;
}

.ai-btn:hover{
    background:#1976d2;
}
