body{
    font-family: Arial;
    margin:0;
    background:#f4f6f8;
}

/* Navbar */

nav{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:15px 40px;
    background:#222;
    color:white;
}

nav ul{
    list-style:none;
    display:flex;
    gap:20px;
}

nav a{
    color:white;
    text-decoration:none;
}

/* Hero */

.hero{
    text-align:center;
    padding:80px 20px;
    background:#4CAF50;
    color:white;
}

/* Sections */

section{
    padding:50px;
    text-align:center;
}

/* Project Cards */

.project-container{
    display:flex;
    justify-content:center;
    gap:30px;
    flex-wrap:wrap;
}

.project-card{
    background:white;
    padding:25px;
    width:250px;
    border-radius:8px;
    box-shadow:0 3px 10px rgba(0,0,0,0.1);
}

.project-card a{
    display:inline-block;
    margin-top:10px;
    padding:8px 15px;
    background:#4CAF50;
    color:white;
    text-decoration:none;
    border-radius:4px;
}

/* Footer */

footer{
    background:#222;
    color:white;
    text-align:center;
    padding:20px;
}
